*.suo
*.user
_ReSharper.*
bin
obj
packages
*.bin
*.dtbcache.v2
*.vsidx
*.v7.bin
/.vs
.vs/
GoTop/.vs
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
#Nuget packages folder
packages/
*.vs/Riosoft.GoTop
